/*------------------------------------
    STYLE.CSS
	DAVE DRIESMANS (@davedriesmans)
	v1 - 12 november 2014
    
    DESIGN ONLY
    common styles can be moved to style-base
    
------------------------------------ */
/**
 * Setup
 */
/*------------------------------------
   COLORS
----------------------------------- */
/*------------------------------------
   FONTS
------------------------------------ */
/* @font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal; }
*/
/*------------------------------------
   WIDTH
----------------------------------- */
/* ================================================= */
/* ------------------ 10 RESPONSIVE ------------------  */
/* ================================================= */
@media only screen and (max-width: 650px) {
  body:after {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    font-weight: bold;
    color: #BBB;
    background-color: yellow;
    border: 5px;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    opacity: 0.5;
  }
  dl.tabs.vertical.uitnodigen {
    display: block;
  }
  dl.tabs.vertical.uitnodigen dd {
    width: 48%;
    float: left;
  }
  dl.tabs.uitnodigen dd.active a,
  dl.tabs.uitnodigen dd a {
    padding-top: 0;
    float: left;
    text-decoration: none;
    background: #efefef;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    width: 99%;
    vertical-align: bottom;
    border: 1px solid #ccc;
    border-bottom: 0;
    min-height: 80px;
  }
  .tabs-content {
    margin-left: 0;
    min-height: 0;
    padding-left: 0;
    background: transparent;
  }
  .tabs-content .small-9 {
    /* width: 100%; */
  }
  .box-header h3 {
    font-size: 20px;
  }
}

/*# sourceMappingURL=style-responsive.css.map */
