/*------------------------------------
   COLORS
----------------------------------- */
$orange: 			#eb7e1c;
$blue: 				#2d99d7; 
$blue-semi-dark: 	#25658e;
$blue-semi-dark: 	#5184a5;
$blue-light: 		#dde4ea;
$blue-dark: 		#1A3547;
$blue-dark2:    #1587a7;
$black: 			#000;
$green:				#43ac6a;
$grey-dark:			#454444;
$grey:				#a8a8a8;
$grey-light:		#dadada;
$grey-light-extra:	#eeedec;

$bg-color: 			#f8f8f9;
$bg-color-header: 	$blue-semi-dark;
$bg-color-footer: 	$blue;
$bg-subheader:		#e4e4e4;

/*------------------------------------
   FONTS
------------------------------------ */


/* @font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal; }
*/


$base-font-size:		16px;
$base-font-lineheight:	20px;
$base-font-family:		"proxima-nova",sans-serif;
$base-font-color:		#5D6D81;
$special-font-family:	 "kepler-std",serif;

$h1-size: 				30px;
$h1-lineheight: 		38px;
$h1-color: 				$black;	

$h2-size: 				22px;
$h2-lineheight: 		25px;
$h2-color: 				$black;	

$h3-size: 				22px;
$h3-lineheight: 		25px;
$h3-color: 				$black;	

$link-color: 			$black;
$link-text-decoration: 	underline;
$link-color-hover: 		$green;

$nav-font-size: 		20px;
$nav-bg-color:			#25658e;
$nav-bg-color-active:	$blue;

$btn-font-size: 	    14px;
$btn-bg-color:			$orange;		
$btn-color:				#fff;

$header-height:			65px;
/*------------------------------------
   WIDTH
----------------------------------- */

$wrapper-width: 		1140px;
$border-color: 			#ece8e7;
$border-radius: 		5px;