/*------------------------------------
    STYLE.CSS
	DAVE DRIESMANS (@davedriesmans)
	v1 - 18 nov 2014
    
    DESIGN ONLY
    
------------------------------------ */
/**
 * Setup
 */
/*------------------------------------
   COLORS
----------------------------------- */
/*------------------------------------
   FONTS
------------------------------------ */
/* @font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal; }
*/
/*------------------------------------
   WIDTH
----------------------------------- */
body {
  background: #f8f8f9;
  color: #5d6d81;
  font-family: "proxima-nova", sans-serif;
  background-color: #dde4ea;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dde4ea), color-stop(100%, #ced7e0));
  background-image: -moz-linear-gradient(90deg, #ced7e0 0%, #dde4ea 100%);
  background-image: -ms-linear-gradient(90deg, #ced7e0 0%, #dde4ea 100%);
  background-repeat: no-repeat;
  color: #212f40;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* border-top: 2px solid $orange; */ }

.panel p, .panel.callout p {
  color: #5d6d81; }

h1, h2, h3, h4, h5,
.panel h1, .panel h2, .panel h3, .panel h4 {
  color: #1a3547;
  font-family: "proxima-nova", sans-serif;
  font-weight: 800; }

.main-title {
  font-size: 30px;
  padding-bottom: 10px;
  margin: 0;
  border-bottom: 1px solid #eb7e1c;
  position: relative; }

/* .main-title:before {
	display: block;
	width: 5px;
	height: 27px;
	position: absolute;
	top: 5px;
	left: -30px;
	content:" ";
	background-color: $orange;
} */
.fiftysmall {
  width: 70%; }

.button.flat {
  font-size: 12px;
  padding: 6px 10px;
  background-color: #eb7e1c; }

.vragen-content-container .answers-info,
.vragen-content-container .info {
  font-family: "kepler-std", serif;
  color: #a8a8a8;
  line-height: 18px; }

.fi-info:before {
  position: relative;
  top: 2px;
  font-size: 20px;
  margin: 0px 0 0 5px;
  color: #a8a8a8; }

.small,
.small ul {
  font-size: 13px;
  font-weight: normal;
  color: #333; }

.small a {
  color: #828282;
  text-decoration: underline; }

/* ------------------ HEADER  ------------------  */
.contain-to-grid {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.25);
  -moz-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.25);
  box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.25);
  background: #5184a5;
  height: 66px; }

.top-bar {
  background: transparent;
  color: #fff;
  font-size: 15px;
  height: 65px;
  position: relative;
  width: 100%; }

.top-bar-section ul {
  position: relative;
  z-index: 999; }

.top-bar-section ul li a {
  text-transform: uppercase;
  letter-spacing: 1px; }

.top-bar-section li:not(.has-form) a:not(.button),
.top-bar-section li.active:not(.has-form) a:not(.button) {
  background: #25658e;
  background: #5184a5;
  border-left: 1px solid rgba(255, 255, 255, 0.5); }

.top-bar-section li:not(.has-form) a:not(.button):hover,
.top-bar-section li.active:not(.has-form) a:not(.button):hover {
  background: #2d99d7;
  opacity: 1; }

.top-bar-section .has-dropdown > a:after {
  top: 32px; }

.top-bar .name {
  height: 66px; }

.top-bar-section li:not(.has-form) a:not(.button),
.top-bar-section li.active:not(.has-form) a:not(.button) {
  line-height: 66px; }

.top-bar .name h1 a.logo {
  float: left;
  height: 0;
  width: 156px;
  padding-top: 52px;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  font-size: 0;
  background: url("../images/common/logo-52h.png") no-repeat;
  margin: 8px 0 10px 10px; }

header {
  color: #FFF;
  background: #e9e9e9;
  border-bottom: 2px solid #0c1925; }

header h1, h2 {
  color: #FFF; }

h3.main-title {
  color: #eb7e1c; }

#tab-process-container {
  height: 100px; }

.box {
  box-shadow: 0 1px 3px rgba(26, 53, 71, 0.08), 0 0 0 1px rgba(26, 53, 71, 0.04), 0 1px 1px rgba(26, 53, 71, 0.06); }

.box-header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 10px 25px 0;
  background-color: rgba(235, 126, 28, 0.1);
  margin-bottom: 20px; }

.main-content {
  background: #fff;
  padding: 90px 25px 25px 25px;
  position: relative;
  margin: 20px auto 60px auto; }

.alert-box {
  border: 1px solid #c36511;
  background-color: rgba(235, 126, 28, 0.9); }

.alert-box .fi-alert {
  font-size: 38px;
  margin: 20px;
  position: relative; }

.alert-box .sentence {
  position: relative;
  top: -8px; }

/* ------------------ FOOTER  ------------------  */
footer {
  margin: 0;
  padding: 20px;
  /* border-top: 2px solid $orange;
  background-color: #FFF;	 */
  width: 100%; }

footer ul.logos {
  list-style: none;
  opacity: 0.5; }

footer ul.logos li {
  float: left;
  display: inline-block;
  width: 15%;
  margin-right: 5%; }

footer .copyright {
  opacity: 0.5;
  text-align: right; }

/* ------------------ PAGES  ------------------  */
#video {
  text-align: center; }

#video iframe {
  margin: 0 auto;
  width: 100%; }

/* ------------------ PROCESS  ------------------  */
.process-wrap {
  margin: 40px auto;
  max-width: 1200px;
  position: relative; }

ul.process-bar {
  margin: 0 20px; }

ul.process-bar li {
  color: #454444;
  display: block;
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  padding: 14px 20px 14px 80px;
  position: relative;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.5); }

ul.process-bar li:before {
  background: #cdd7e0;
  text-shadow: none;
  border-radius: 50%;
  color: #aebecd;
  font-size: 13px;
  font-weight: 700;
  left: 15px;
  position: absolute;
  text-align: center;
  top: 4px;
  line-height: 35px;
  height: 35px;
  width: 35px;
  z-index: 89; }

ul.process-bar li.active {
  color: #eb7e1c;
  font-weight: bold; }

ul.process-bar li.active:before {
  background: #eb7e1c;
  color: #FFF;
  z-index: 90; }

ul.process-bar li.visited {
  background: #ECECEC;
  color: #5184a5;
  z-index: 90; }

ul.process-bar li.visited:before {
  background: #5184a5;
  color: #FFF;
  z-index: 90; }

ul.process-bar li:nth-child(1):before {
  content: "1"; }

ul.process-bar li:nth-child(2):before {
  content: "2"; }

ul.process-bar li:nth-child(3):before {
  content: "3"; }

ul.process-bar li:nth-child(4):before {
  content: "4"; }

ul.process-bar li:nth-child(5):before {
  content: "5"; }

ul.process-bar li:nth-child(6):before {
  content: "6"; }

ul.process-bar li:nth-child(7):before {
  content: "7"; }

ul.process-bar li:nth-child(8):before {
  content: "8"; }

ul.process-bar a {
  color: #5184a5;
  font-size: 13px;
  text-decoration: none; }

@media all and (min-width: 800px) {
  .subheader.werkgevers {
    margin: 0 0 30px 0;
    padding: 0 0 20px 0;
    background-color: #dde4ea;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), color-stop(100%, #dde4ea));
    background-image: -moz-linear-gradient(90deg, #dde4ea 0%, rgba(255, 255, 255, 0.8));
    background-image: -ms-linear-gradient(90deg, #dde4ea 0%, rgba(255, 255, 255, 0.8));
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-bottom: 1px solid #afbcc8;
    text-shadow: 0px 1px #dde4ea; }

  .process-bar li.active:after {
    -webkit-animation: myanimation 3s 0;
    background-color: #eb7e1c;
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    content: "";
    height: 10px;
    width: 100%;
    left: 50%;
    position: absolute;
    top: -50px;
    z-index: 0; }

  .process-wrap {
    margin: 40px auto 50px auto;
    min-height: 20px; }

  ul.process-bar {
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    background-color: #cfcfd6;
    background: #e3ecf5;
    background: rgba(215, 207, 188, 0.9);
    background: #cdd7e0;
    border-radius: 15px;
    height: 10px;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    width: 100%; }

  ul.process-bar:before {
    background-color: #5184a5;
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    content: " ";
    height: 10px;
    left: 0;
    top: 0;
    position: absolute;
    width: 10%; }

  ul.process-bar li {
    display: inline-block;
    margin: 34px 0 0;
    padding: 0;
    text-align: center;
    width: 13.25%; }

  .werknemers ul.process-bar li {
    width: 19%;
    /* for 5 items */
    width: 16%;
    /* for 6 items */ }

  ul.process-bar li:before {
    height: 35px;
    left: 35%;
    line-height: 35px;
    position: absolute;
    top: -65px;
    width: 35px;
    z-index: 89; }

  ul.process-bar li.twolines:before {
    top: -48px; }

  ul.process-bar li.threelines:before {
    top: -35px; }

  ul.process-bar li.visited {
    background: none; }

  ul.process-bar li.visited:after {
    background-size: 35px 35px;
    background-color: #5184a5;
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    content: "";
    height: 10px;
    left: 50%;
    position: absolute;
    top: -50px;
    width: 100%;
    z-index: 89; }

  ul.process-bar li.twolines.visited:after {
    top: -35px; }

  ul.process-bar li.threelines.visited:after {
    top: -30px; }

  ul.process-bar li.twolines.active:after {
    top: -35px; }

  ul.process-bar li.threelines.active:after {
    top: -30px; }

  ul.process-bar li.last.active:after {
    width: 65%;
    border-radius: 15px; } }
/* ------------------ RE-USABLE  ------------------  */
.button {
  text-transform: uppercase;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  cursor: pointer;
  font-size: 12px;
  letter-spacing: 2px; }

.button.main {
  background-color: #eb7e1c;
  box-shadow: 2px 2px 0 white, 4px 4px 0 #eb7e1c; }

.button.main:hover {
  background-color: #dd6901;
  box-shadow: 2px 2px 0 white, 4px 4px 0 #f1a662; }

.button-group li {
  margin: 0 2px; }

.button.lessimportant {
  background-color: rgba(45, 153, 215, 0.7);
  border-color: #007095; }

.button.lessimportant:hover {
  background-color: #2d99d7;
  border-color: #007095; }

/* ------------------ CONTENT BLOCK ICONS  ------------------  */
.icon-corner {
  display: block;
  content: " ";
  position: absolute;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat; }

.icon-corner.TL {
  left: -3px;
  top: -3px;
  background-image: url("../images/icons/icon-corner-TL.png"); }

.icon-corner.TR {
  right: -3px;
  top: -3px;
  background-image: url("../images/icons/icon-corner-TR.png"); }

.icon-corner.BL {
  left: -3px;
  bottom: -3px;
  background-image: url("../images/icons/icon-corner-BL.png"); }

.icon-corner.BR {
  right: -3px;
  bottom: -3px;
  background-image: url("../images/icons/icon-corner-BR.png"); }

/* ------------------ VRAGENLIJST  ------------------  */
/* breadcrumbs on top */
.vragenlijst-onderdelen {
  background-color: #f4f4f4;
  border-color: gainsboro; }

.vragenlijst-onderdelen td {
  font-size: 12px;
  padding-right: 25px;
  background: url("../images/icons/arrow-forward-24-trans.png") center right no-repeat; }

.vragenlijst-onderdelen tr td:last-child {
  background: none; }

.vragenlijst-onderdelen tr td.current:last-child,
.vragenlijst-onderdelen tr td.current {
  font-weight: bold;
  background-color: rgba(195, 226, 244, 0.2); }

/* form */
.vragen-content-container.large-12 {
  padding-top: 0;
  margin-top: 0; }

.vragenlijst {
  margin-top: 20px; }

.vragenlijst .row.vraag {
  margin: 15px 0 20px 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid rgba(45, 153, 215, 0.3);
  position: relative; }

.vragenlijst .row.vraag.zoja {
  border-bottom: 0; }

.vragenlijst .question,
.vragenlijst label {
  font-size: 17px;
  line-height: 20px; }

.vragenlijst label.error,
.vragenlijst .col-answer label.error {
  position: absolute;
  color: #d91d1d;
  padding: 5px 8px;
  background-color: #efefef;
  border: 1px solid rgba(45, 153, 215, 0.3);
  border-radius: 0 0 0 4px;
  display: inline-block;
  font-size: 10px;
  text-align: right;
  right: -17px;
  top: -20px;
  z-index: 10; }

form input.error {
  border-color: #d91d1d; }

.vragenlijst .question {
  color: #5184a5;
  font-size: 17px;
  line-height: 20px;
  font-weight: 500; }

.vragenlijst .col-answer {
  font-size: 14px;
  margin-top: 5px; }

.vragenlijst .column,
.vragenlijst .columns {
  position: static; }

.vragenlijst .col-answer label {
  font-size: 14px; }

.vragenlijst .question-block {
  border: 1px solid rgba(45, 153, 215, 0.5);
  padding: 20px 20px 5px 20px;
  margin-bottom: 20px;
  position: relative; }

.vragenlijst .question-block .row.vraag:last-child {
  border: 0; }

.vragenlijst h4.empty {
  display: none; }

.vragenlijst .button-container {
  margin-top: 20px; }

form input[type="radio"],
form input[type="checkbox"] {
  float: left;
  margin-right: 5px;
  margin-top: 4px;
  margin-bottom: 4px; }

.checkboxes label {
  vertical-align: top;
  width: 90%; }

input[type="checkbox"] + label,
input[type="radio"] + label {
  margin-left: 0; }

/* ten: close */
.vragenlijst .vragen.ten .columns.col-answer {
  font-size: 12px;
  padding-left: 0; }

.vragenlijst .ten .columns.col-answer label {
  font-size: 12px;
  margin-left: 1px;
  margin-right: 2px; }

/* info icons checkbox */
.icon-after-answer {
  float: left; }

/* temp delete me */
.points {
  display: none;
  background-color: #000;
  color: #FFF;
  padding: 1px;
  font-size: 10px; }

/* ------------------ TUSSENRESULTAAT  ------------------  */
.row.intro {
  margin-bottom: 40px;
  color: #a8a8a8;
  font-family: "kepler-std", serif;
  font-size: 20px;
  line-height: 26px;
  font-style: italic; }

.row.visualisation-container {
  position: relative; }

.visualisation {
  background: #fff;
  position: relative; }

.visualisation .viz-level {
  position: absolute;
  top: 0%; }

.visualisation .viz-level .verdiep {
  z-index: 990; }

.visualisation .viz-level .selectie {
  z-index: 991; }

.visualisation .viz-level .mannetje {
  z-index: 992; }

.viz-sideinfo {
  position: absolute;
  width: 100%;
  padding: 0px 25px 0;
  margin: 0 auto;
  top: 0px;
  min-height: 75px; }

.arrow_box {
  background: #fff;
  border: 2px solid #eb7e1c;
  border-top: 0;
  border-right: 0;
  border-left: 0; }

.arrow_box:after, .arrow_box:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.arrow_box:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 30px;
  margin-left: -30px; }

.arrow_box:before {
  border-color: rgba(235, 126, 28, 0);
  border-top-color: #eb7e1c;
  border-width: 33px;
  margin-left: -33px; }

/* tussenresultaten */
.viz-sideinfo-block {
  display: block;
  width: 18%;
  float: left;
  text-align: center; }

.viz-sideinfo-block.sign {
  width: 2%;
  color: #eb7e1c;
  font-size: 35px; }

.viz-sideinfo-block.first {
  padding-bottom: 10px;
  letter-spacing: 2px;
  text-transform: uppercase; }

.level-3 .viz-sideinfo-block.first,
.level-2 .viz-sideinfo-block.first {
  margin-left: 20%; }

.viz-sideinfo-block .title {
  display: block;
  font-weight: bold;
  vertical-align: center;
  line-height: 19px;
  color: #eb7e1c; }

.viz-sideinfo-block .equal {
  font-size: 50px;
  color: #eb7e1c; }

.viz-sideinfo-block .smiley-container {
  width: 100%;
  text-align: center; }

.viz-sideinfo-block .title.small {
  font-size: 12px;
  font-weight: normal; }

.viz-sideinfo-block .signchar {
  padding: 30px 5px; }

/* ------------------ EINDRESULTAAT  ------------------  */
.row .row.huis-resultaat {
  margin-right: -25px;
  margin-left: -25px; }

.row .eindresultaat .viz-level img,
.row .huis-resultaat .viz-level img {
  width: 100%; }

.row .row.huis-eindresultaat .column,
.row .row.huis-eindresultaat .columns {
  padding-left: 0;
  padding-right: 0; }

.row .row.detail-results {
  border-bottom: 1px solid #eb7e1c;
  padding-bottom: 30px;
  margin: 30px 0; }

.row .row.detail-results.last,
.detail-results.last {
  border-bottom: 0; }

.detail-results h4 {
  color: #eb7e1c;
  margin-top: 15px; }

.detail-results .feedback {
  font-size: 15px;
  line-height: 20px;
  padding: 10px 10px 10px 65px;
  background: url("/images/icons/feedback-icon-32.png") 20px 10px no-repeat #efefef;
  margin-bottom: 12px;
  border: 1px solid #eb7e1c;
  box-shadow: 2px 2px 0 #eb7e1c; }

.detail-results .feedback .action {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(235, 126, 28, 0.2);
  padding: 8px; }

.detail-results .feedback .vraag {
  color: #454444;
  font-weight: bold; }

.detail-results .feedback .vraag {
  color: #454444;
  font-weight: bold; }

.detail-results .feedback.analyse {
  background: url("/images/icons/feedback-graph-icon-32.png") 17px 8px no-repeat #efefef; }

.detail-results h5.smiley {
  margin-left: 70px;
  font-weight: 600;
  background-position: 0px bottom;
  background-repeat: no-repeat;
  line-height: 24px;
  min-height: 40px;
  vertical-align: center;
  padding-left: 40px;
  padding-top: 12px;
  padding-bottom: 5px;
  color: #6d6d6d; }

.detail-results h5.verdiep {
  display: inline-block;
  color: #454444;
  background-color: #f3f3f3;
  padding: 4px;
  border-radius: 5px;
  font-weight: 200;
  min-width: 150px;
  text-align: center; }

.detail-results h4.title-block {
  background-position: left center;
  background-repeat: no-repeat;
  line-height: 24px;
  min-height: 64px;
  vertical-align: center;
  padding-left: 70px;
  padding-top: 20px;
  padding-bottom: 5px; }

.row.intro.end-eindresultaat {
  margin-bottom: 40px;
  color: #eb7e1c;
  font-family: "kepler-std", serif;
  font-size: 28px;
  line-height: 36px;
  font-style: italic;
  text-align: center; }

.row.intro.end-eindresultaat a {
  color: #eb7e1c;
  text-decoration: underline; }

.row.intro.end-eindresultaat a:hover {
  color: #454444;
  text-decoration: underline; }

.detail-results .feedback ul li {
  font-size: 15px;
  line-height: 20px; }

/* ------------------ WERKGEVER : werknemers uitnodigen  ------------------  */
/* left tabs uitnodigen */
dl.tabs.uitnodigen {
  padding-right: 10px; }

dl.tabs.uitnodigen dd a {
  font-size: 14px;
  padding: 10px;
  border-bottom: 1px solid #d9d9d9;
  background: transparent;
  color: #a8a8a8;
  font-weight: bold; }

dl.tabs.uitnodigen dd.active a {
  color: #5184a5;
  background: transparent; }

dl.tabs.uitnodigen dd.active a:hover {
  background: rgba(45, 153, 215, 0.05); }

dl.tabs.uitnodigen i.foundicon-fontsize {
  text-align: center;
  float: left;
  font-size: 30px;
  position: relative;
  top: 10px;
  margin-right: 10px;
  color: #a8a8a8; }

dl.tabs.uitnodigen .active i.foundicon-fontsize {
  color: #5184a5; }

/* content-block */
.tabs-content.uitnodigen {
  margin-left: 20%;
  min-height: 500px;
  padding-left: 20px;
  background: url("../images/common/uitnodiging-tabcontent-bg.png") left repeat-y; }

.uitnodigen .row.email label.inline,
.uitnodigen .row.email input {
  margin: 0 0 3px 0;
  padding: 2px 10px;
  height: 2rem; }

.uitnodigen .row.email input {
  float: left;
  width: 93%;
  display: inline; }

.uitnodigen .row.bericht textarea {
  height: 260px; }

.remove-contact {
  float: left;
  display: inline;
  width: 20px;
  position: relative;
  top: 5px;
  margin-left: 5px;
  height: 20px;
  opacity: 0.6;
  background: url("../images/icons/remove-20.png") left no-repeat; }

.remove-contact:hover {
  opacity: 1; }

/* form */
.uitnodiging-uitsturen label {
  font-weight: bold;
  color: #a8a8a8; }

/* ------------------ WERKGEVER : totaalresultaat  ------------------  */
.totaalresultaat.tabs {
  border-bottom: 1px solid #eb7e1c; }

.totaalresultaat.tabs dd > a, .tabs .tab-title > a {
  background: transparent;
  border-left: 1px solid rgba(235, 126, 28, 0.2);
  border-right: 1px solid rgba(235, 126, 28, 0.2);
  border-top: 1px solid rgba(235, 126, 28, 0.2);
  margin-left: 2px;
  padding: 1rem 1.5rem;
  color: #5184a5; }

.totaalresultaat.tabs dd > a:hover {
  background-color: rgba(235, 126, 28, 0.2); }

.totaalresultaat.tabs dd.active a, .tabs .tab-title.active a {
  border-left: 1px solid #eb7e1c;
  border-right: 1px solid #eb7e1c;
  border-top: 1px solid #eb7e1c;
  background-color: #FFF;
  color: #eb7e1c;
  position: relative;
  top: 1px; }

#gra-Waarden-68-71 .highcharts-legend .highcharts-legend-item:first-child {
  display: none; }

#gra-Waarden-68-71 .highcharts-legend .highcharts-legend-item:nth-child(2) {
  transform: translate(180px); }

.row .row.detail-results.huis-resultaat-table {
  background-color: rgba(235, 126, 28, 0.05);
  margin-right: -25px;
  margin-left: -25px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 0; }

.row .row.detail-results.huis-resultaat-table .seperator {
  border-top: 1px solid rgba(235, 126, 28, 0.5);
  margin-top: 10px; }

.huis-resultaat-table h5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #eb7e1c;
  padding-top: 20px; }

.huis-resultaat-table h6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #6d6d6d;
  font-size: 14px; }

.huis-resultaat-table .verdiep {
  display: inline-block;
  background-color: #eb7e1c;
  padding: 4px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 200;
  min-width: 120px;
  text-align: center;
  color: #FFF;
  margin-right: 10px;
  position: relative;
  top: -5px; }

.results ul {
  padding: 0;
  margin: 0; }

.results ul li {
  padding: 2px 20px 2px 50px;
  list-style: none;
  margin: 0;
  font-size: 20px;
  color: #6d6d6d; }

li.slecht {
  background: url("../images/icons/face-small-2-slecht-red.png") center left no-repeat; }

li.goed {
  background: url("../images/icons/face-small-2-smile-green.png") center left no-repeat; }

li.neutraal {
  background: url("../images/icons/face-small0-orange.png") center left no-repeat; }

.percentage-sign {
  color: #a8a8a8;
  font-size: 20px; }

table.detail-results {
  font-size: 12px; }

table.detail-results td {
  padding: 1px 5px; }

table.detail-results .werkgever-detail {
  color: #6aa4e7; }

table.detail-results .subtitle {
  color: #a8a8a8;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px; }

table.detail-results table.werkgever-detail {
  border: 0;
  margin-bottom: 5px;
  color: #2d99d7;
  background-color: rgba(45, 153, 215, 0.1); }

table.detail-results table.werkgever-detail td {
  height: 28px;
  font-size: 12px;
  border: 0;
  color: #2d99d7; }

table.medewerker-detail {
  border: 0;
  margin-bottom: 5px;
  color: #eb7e1c;
  background-color: rgba(235, 126, 28, 0.1); }

table.detail-results table.medewerker-detail td {
  padding: 0;
  height: 28px;
  font-size: 12px;
  border: 0;
  color: #eb7e1c; }

.bespreken-werkvermogen-werkgever {
  color: #2d99d7;
  text-align: center;
  font-weight: bold; }

.bespreken-werkvermogen-werkgever .list {
  font-weight: normal;
  display: inline-block;
  vertical-align: top; }

.bespreken-werkvermogen-werkgever .list li {
  text-align: left; }

.progress-bar {
  width: 100%;
  border: 1px solid #eb7e1c;
  position: relative;
  padding: 2px;
  background: #fcefe3; }

.progress-bar .percent {
  position: absolute;
  left: 75%;
  color: #464646; }

.progress-bar .bar {
  height: 20px;
  background-color: #eb7e1c;
  width: 0%; }

/* ------------------ SUPERADMIN  ------------------  */
.superadmin table {
  table-layout: auto; }

.superadmin table tbody td {
  font-size: 12px; }
